@charset "UTF-8";

:root {
    --PrimaryColor: #000;
    --SecondColor: #fff;
    --Font: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100%;
    width: 100%;
}

header {
    margin: auto;
    height: 100px;
    width: 100vw;
    position: relative;
    background-color: var(--PrimaryColor);
    border-bottom: 1px solid var(--SecondColor);
}

header img {
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}