@charset "UTF-8";

@font-face {
    font-family: MeieScript;
    src: url(assets/fonts/MeieScript-Regular.ttf);
}

:root {
    --PrimaryColor: #000;
    --SecondColor: #fff;
    --Font: 'MeieScript', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
}

header {
    margin: auto;
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: var(--PrimaryColor);
    border-bottom: 1px solid var(--SecondColor);
}

header img {
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

main {
    padding-top: 110px;
    height: 100%;
    width: 100%;
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
}

main h1 {
    padding: 10px 0;
    font-size: 2.5rem;
    font-family: var(--Font);
    font-weight: 100;
}

