@charset "UTF-8";

@font-face {
    font-family: MeieScript;
    src: url(assets/fonts/MeieScript-Regular.ttf);
}

:root {
    --PrimaryColor: #000;
    --SecondColor: #fff;
    --Font: 'MeieScript', Arial, sans-serif;
    --Font2: Arial, sans-serif;
    --Assobiador: #670305;
    --Presidente: #0c0553;
    --ProjetoX: #f59e12;
    --Kassah: #300743;
    --Custodio: #172629;
    --Amigo: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
}

/* Header */

header {
    margin: auto;
    border-bottom: 1px solid var(--SecondColor);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: var(--PrimaryColor);
}

header > img {
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

/* Main */
main {
    padding-top: 110px;
    height: 100%;
    width: 100%;
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
}

main h1 {
    padding: 10px 5px;
    font-size: 2.5rem;
    font-family: var(--Font);
    font-weight: 100;
}

main p {
    padding: 10px;
    font-size: 1rem;
    font-family: var(--Font2);
}

main video {
    margin: auto;
    padding: 20px;
    height: 100%;
    width: 100%;
}

video source {
    margin: auto;
    height: 200px;
    width: 200px;
}

main h2 {
    margin-top: 15px ;
    padding: 10px 20px;
    text-align: right;
    font-size: 2.5rem;
    font-family: var(--Font);
    font-weight: 100;
}

main .direita {
    padding: 10px 0;
    text-align: left;
}

section article img {
    height: 500px;
    width: 300px;
    margin: 20px 0;
    border: 1px solid black;
}

section article .atributos {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    border: none;
}

section article h3 {
    text-align: center;
    font-family: var(--Font);
    font-size: 2rem;
}

section article p {
    text-align: center;
    font-family: var(--Font2);
    font-size: 1rem;
    
}

/* VILÕES e DELTA X */

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

article > div > div > h4 {
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
    color: var(--PrimaryColor);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-size: var(--Font2);
}

/* Assobiador e Sabrina */

.Tema-Vermelho {
    background: var(--Assobiador) fixed;
}

article > .habilidades-vermelho > div > h4 {
    background-color: #ff0000;
}

/* Presidente */

.Presidente {
    background: var(--Presidente) fixed;
}

article > .habilidadesPresi > div > h4 {
    background-color: #0000ffd2;
}

/* Projeto X-Terminio */

.Tema-Laranja {
    background: var(--ProjetoX);
}

article > .habilidades-laranja > div > h4 {
    background-color: #ad7307;
}

/* Kassah Ador */

.Tema-Roxo {
    background: var(--Kassah) fixed;
}

article > .habilidades-roxo > div > h4 {
    background-color: #800080;
}

/* Custodio */

.Tema-Ciano{
    background: var(--Custodio) fixed;
}

article > .habilidades-ciano > div > h4 {
    background-color: #00ffff;
}

/* Amigo */

.Tema-Cinza {
    background: var(--Amigo) fixed;
}

article > .habilidades-cinza > div > h4 {
    background-color: #808080;
}

/* Historia Delta X */

article > .historia {
    margin: 10px 0;
    border: 1px solid var(--PrimaryColor);
    border-radius: 10px;
    padding: 5px;
}

article > .historia > p {
    text-align: justify;
    font-family: var(--Font2);
}

article > .historia > p > a {
    color: var(--PrimaryColor);
    text-decoration: none;
}

footer {
    border-top: 1px solid var(--SecondColor);
    background-color: var(--PrimaryColor);
}

footer p {
    padding: 20px;
    color: var(--SecondColor);
    text-align: center;
    font-family: var(--Font2);
}

footer p > a {
    color: var(--SecondColor);
    text-decoration: none;
}